.container {
    display: flex;
    padding: 32px;
    background-color: #eee;
    justify-content: space-between;
}

.container > div {
    flex-basis: 50%;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 64px;
}

.button {
    margin: 8px;
    padding: 8px;
    cursor: pointer;
    color: #fff;
    border: none;
    border-radius: 4px;
    background-color: #607D8B;
}

.button:hover {
    opacity: .8;
}

h1 {
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: normal;
    margin: 50px 0 0;
}

.progress-bar {
    position: relative;
    border: #ccc solid 1px;
    width: 300px;
    height: 24px;
    line-height: 24px;
    vertical-align: midle;
    overflow: hidden;
    margin: 16px auto 50px;
    font-family: arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    border-radius: 12px;
    box-shadow: 0 4px 10px -5px rgba(0, 0, 0, 0.25);
}
.progress-bar .bar {
    position: absolute;
    top: 0;
    height: 100%;
    overflow: hidden;
}
.progress-bar .bar span {
    position: absolute;
    display: block;
    width: 300px;
    height: 100%;
    text-align: center;
}
.progress-bar .bar.positive {
    background: #fff;
    left: 0;
    width: 0%;
    -webkit-animation: animate-positive 4s;
    animation: animate-positive 4s;
}
.progress-bar .bar.positive span {
    left: 0;
    color: #333;
}
.progress-bar .bar.negative {
    background: #07A4DD;
    right: 0;
    width: 100%;
    -webkit-animation: animate-negative 4s;
    animation: animate-negative 4s;
}
.progress-bar .bar.negative span {
    right: 0;
    color: #fff;
}

@-webkit-keyframes animate-positive {
    0% {
        width: 0%;
    }
}
@keyframes animate-positive {
    0% {
        width: 0%;
    }
}
@-webkit-keyframes animate-negative {
    0% {
        width: 100%;
    }
}
@keyframes animate-negative {
    0% {
        width: 100%;
    }
}
